@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
--preto:#231d1e;
--laranja-claro:#ff8207;
--laranja:#d53d0c;
--branco: #fcfcfc;
--cinza-escuro: #373737;

}

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto';
}

body{
    width: 100%;
    background-color: var(--cinza-escuro);

}

.telefone{
    display: flex;
    height: 3vh;
    justify-content: flex-end;
    padding: 0 25vh;
    background-color: var(--preto);
    align-items: center;
}

.conteudo__div{
    font-size: 16px;
    font-weight: 500;
    color: var(--laranja-claro);
}

.tel__principal{
    margin-right: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    padding: 0 25vh;
    background-color: var(--laranja-claro);
    align-items: center;
}

.logo{
    height: 8vh;
    width: 3 0vh;
}

.menu__principal{
    margin: 3vh 0;

}

.link__menu{
    margin: 0 0 0 10px;
    color: var(--cinza-escuro);
    text-decoration: none;
    font-size: 2.5vh;
    text-transform: uppercase;
    font-weight: 900;
}

.link__menu:hover{
    color: var(--branco);
}


/*Inicio do slide*/


.slider{
    margin: 0 auto;
    width: 136vh;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 600%;
    height: 400px;
    display: flex;
}


.slides input{
    display: none;
}


.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}


.slide img{
    width: 136vh;
}


.manual-navigation{
    position: absolute;
    width: 136vh;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}


.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}


.manual-btn:hover{
    background-color: white;
}


#radio1:checked ~ .first{
    margin: 0;
}


#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}


#radio4:checked ~ .first{
    margin-left: -75%;
}


.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 136vh;
    margin-top: 360px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

/*Conteudo secundario*/




.conteudo__secundario{

    height: 40vh;
    padding: 0 25vh;
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: space-between;
    color: var(--branco);
}


.imagem__conteudo__secundario{
    height: 35vh;
    width: 60vh;
}

.texto__conteudo__secundario{
    margin: 10vh 0 0 0;
}

.texto__conteudo__secundario h1{
    text-transform: uppercase;
    margin: 0 0 2vh 0;
    font-size: 30PX;
}

.texto__conteudo__secundario ul{
    list-style-type: none
}

.texto__conteudo__secundario p{
    margin: 2vh 0;
}


.texto__conteudo__secundario li{
    color: var(--laranja-claro);
    margin: 0 0 0 30px;
}

/*Destaques*/


.titulo__destaques{
    padding: 0 25vh;
    margin: 4vh 0;
    color: var(--branco);
    text-transform: uppercase;
}

.destaques{
    padding: 0 25vh;
    display: flex;
    justify-content: space-around;


}

.imagem__destaques{
    height: 20vh;
    width: 35vh;
}

.conteudo__destaques{
    display: flex;
    flex-direction:column;
}

.link__destaques{
    margin: 2.5vh 0 ;
    text-align: center;
    text-decoration: none;
    color: var(--laranja-claro);
    font-size: 20px;
    font-weight: 500;
}

.link__destaques:hover{
    color: var(--branco);
}

/*Footer*/

footer{
    background-color: var(--laranja-claro);
    padding: 0 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    font-weight: 500;
}

footer article{
    display: flex;
    align-items: center;
}

footer article img{
    height: 10vh;
    width: 10vh;
}